<h1>Student regristratie format</h1>
<form name="aanmelding" action="/Form/FormFilled" method="post">
    <div>Naam: <input name="Name" type="text"/></div>
    <div>Geboortejaar: <input name="Age" type="text"/></div><br>
    <div><input type="submit" value="Versturen"/><div>
</form>
<br>